# List

In [1]:
# A list is a container which can hold different data types in it.

In [8]:
list = [ 'Juhi', 786, 15, 128.62]

In [9]:
list.append('Dubai')     # to add object at last of the list
list

['Juhi', 786, 15, 128.62, 'Dubai']

In [10]:
list.remove(786)         # to remove particular object
list

['Juhi', 15, 128.62, 'Dubai']

In [11]:
list.insert(3, [1,2,3])   # to add object at specific index
list

['Juhi', 15, 128.62, [1, 2, 3], 'Dubai']

In [12]:
list.index(128.62)   # to find the index number of particular object

2

In [14]:
list.clear()        # to empty the list
list

[]

# Dictionaries- DICT

In [16]:
# Dictionary are unordered Key-Value pair, it is complex Dict class in Python.
# {"KEY":"VALUE"}

In [21]:
dict1 = {'name':'Juhi', 'age':'27', 'number':'1234567892', 'email':'xyz@gmail.com'}
dict1

{'name': 'Juhi', 'age': '27', 'number': '1234567892', 'email': 'xyz@gmail.com'}

In [22]:
dict1.get('name')

'Juhi'

In [23]:
dict1.pop('age')

'27'

In [25]:
dict1['status'] = 'engaged'         # adding a new element to a dictionary
dict1

{'name': 'Juhi',
 'number': '1234567892',
 'email': 'xyz@gmail.com',
 'status': 'engaged'}

In [26]:
dict1.keys()

dict_keys(['name', 'number', 'email', 'status'])

In [27]:
dict1.values()

dict_values(['Juhi', '1234567892', 'xyz@gmail.com', 'engaged'])

# Sets

In [29]:
# Sets are used for storing unique values in Python, sets are complex data structures.
# Sets are used for finding common and uncommon objects in Python data types.

In [30]:
set1 = {'Juhi', 'letsupgrade', 1,2,3,4,5,6,6,7,7,7,8}
set1

{1, 2, 3, 4, 5, 6, 7, 8, 'Juhi', 'letsupgrade'}

In [31]:
set2 = {'Juhi',7,8}
set2

{7, 8, 'Juhi'}

In [32]:
set2.issubset(set1)

True

In [33]:
set2.intersection(set1)

{7, 8, 'Juhi'}

In [38]:
set1.add(155.5)
set1

{1, 155.5, 2, 3, 4, 5, 6, 7, 8, 'Juhi', 'letsupgrade'}

In [39]:
set2.remove(8)
set2

{7, 'Juhi'}

In [41]:
set1.clear()
set1

set()

# Tuples

In [1]:
# Tuples are ordered immutable collection of objects.
# Once the data is written its in that forever.

In [2]:
tup = ('Juhi', '$', '%', '@gmail.com', '@xyz.com')
tup

('Juhi', '$', '%', '@gmail.com', '@xyz.com')

In [3]:
tup.count('@gmail.com')

1

In [4]:
tup.index('$')

1

# Boolean

In [5]:
# This is the basic data types which stores TRUE or FALSE.

In [6]:
cities = ['Tokyo', 'Nagpur', 'Mumbai', 'Surat', 'Delhi', 'Osaka']
cities

['Tokyo', 'Nagpur', 'Mumbai', 'Surat', 'Delhi', 'Osaka']

In [7]:
'Wardha' in cities

False

In [8]:
'Osaka' in cities

True